
.mappingDiv{
	display: none;
	min-height:1000px;
	overflow: scroll;
}

		td {
		  text-align: left;
		  padding: 25px;
		}
		input  {
		  max-width: 550px;
		  width: 70%;
		  padding: 8px 15px;
		  box-sizing: border-box;
		  float: left;
		}
      

   .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
        body {
            top: 0px !important;
        }
        @font-face {
  font-family: 'zb-fonticons';
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c');
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c#iefix') format('embedded-opentype'),
    url('/fonts-icon/zb-fonticons.ttf?9bjl2c') format('truetype'),
    url('/fonts-icon/zb-fonticons.woff?9bjl2c') format('woff'),
    url('/fonts-icon/zb-fonticons.svg?9bjl2c#zb-fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
#loader {
	margin-top: 220px;
	margin-left: 324px;
	margin-right: 320px;
	margin-bottom: 220px;
	border: 5px solid #f3f3f3;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top: 5px solid #555;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.button {
  background-color:#f7f8f9;
  border: none;
  width: 33px;
  max-height:30px;
}
.saveapikey{
  	padding: 10px 15px;
	box-sizing: border-box;
	float:left;
	max-width: 60px;
	width:20%;
	cursor:pointer;
	color: #fff;
    background: #42a2eb;
}
.apikeyinput{
	min-width: 400px;
	float:left;
	clear: both;
}
#webHookurl{
	float:left;
	clear: both;
	max-width: 600px;
	overflow-x: auto;
	overflow-y: auto;
}
 .error-message {
	  color: #cc0033;
	  display: inline-block;
	  font-size: 16px;
	  line-height: 18px;
	  margin: 5px 0 0;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 17px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
/* The switch - the box around the slider */
		.switch {
		  position: relative;
		  display: inline-block;
		  width: 60px;
		  height: 34px;
		}
		.btn {
			padding: 2px 0px 1px 0px;
		}
		/* Hide default HTML checkbox */
		.switch input {
		  opacity: 0;
		  width: 0;
		  height: 0;
		}

		/* The slider */
		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 26px;
		  width: 26px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color: #2196F3;
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}
		.styled-select {
		   height: 29px;
		   width :200px;
		     overflow: hidden;
		     text-overflow: ellipsis; 
  white-space: nowrap; 
		}
		.styled-select select {
		   background: transparent;
		   border: none;
		   font-size: 14px;
		   height: 29px;
		   padding: 5px; 
		   width :200px;
		    overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
		}
		.styled-select.slate {
		   height: 32px;
		   text-overflow: ellipsis; 
  white-space: nowrap; 
		}

		.styled-select.slate select {
		   border: 1px solid #ccc;
		   font-size: 16px;
		   height: 32px;
		}
		.countyCode{
			width: 185px;
			height: 33px;
		}
